data:
  raw_google: "data/raw/google_reviews.csv"
  raw_trustpilot: "data/raw/trustpilot_reviews.csv"
  processed_output: "data/processed/low_rating_reviews_dataset.parquet"

rename_mappings:
  google:
    Social Media Source: source
    Club's Name: location
    Creation Date: date_created
    Comment: review
    Overall Score: score

  trustpilot:
    Source Of Review: source
    Location Name: location
    Review Created (UTC): date_created
    Review Content: review
    Review Stars: score

schema:
  source: string
  location: string
  date_created: datetime
  review: string
  score: int64

filters:
  low_rating_max: 3

BERTopic:
  language: English
  calculate_probabilities: False
  verbose: False
  embed_model: "all-MiniLM-L6-v2"
  low_memory: True
  nr_topics: "auto"
  model_output_path: "models/bertopic_model"
  topics_output_path: "data/processed/bertopic_topics.csv"
